<header th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">
    
	<nav class="navbar navbar-default">
        <a href="/">Home</a> | 

<!-- https://o7planning.org/en/12351/thymeleaf-conditional-statements-if-unless-switch -->
		<th:block th:if="${userid}">
		   <a href="/users/new">Welcome [[ ${userid} ]]</a> | 
           <a href="/users/signout">Sign out</a> |
		</th:block>
		<th:block th:unless="${userid}">
            <a href="/users/new">Create User</a> | 
            <a href="/users/signin">Sign in</a> | 
		</th:block>

		<a href="/flight/reserve">Reserve Flight</a> | 
		<a href="/flight/list">List flights</a> | 
	</nav>
</header>
