<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/main_layout}">
<head>
    <title>Team LA Flight Reservation System</title>
</head>
<body>
    <h2>Team LA Flight Reservation System</h2>

<div layout:fragment="content" class="container">

    <div class="jumbotron">
        <h1>Flight Reservation System</h1>
        
        <th:block th:if="${userid}">
           <a href="/users/mycount">Welcome [[ ${userid} ]]</a>
        </th:block>
        <th:block th:unless="${userid}">
	        <p>Please create a user first.</p>
	        <p>
	            <a class="btn btn-lg btn-primary" href="/users/new" role="button">Create a new User. &raquo;</a>
	        </p>
        </th:block>
        
    </div>
</div>

</body>
</html>