<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
    <title>User form</title>
</head>
<body>
    <h2>Create User</h2>
    <form action="#" th:action="@{/users/new}" th:object="${user}" method = "post">
    First Name: <input type="text" th:field="*{firstName}" /> <br/>
        <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"> </span>  <br/>
    Last Name: <input type="text" th:field="*{lastName}" /> <br/>
        <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"> </span>  <br/>
    User Id: <input type="text" th:field="*{userId}" /> <br/>
        <span th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}"> </span>  <br/>
        <input type="submit" value="Submit" />
    </form>
</body>
</html>